.passengersList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}

.passengersList li {
    list-style-type: none;
}